SECRET_KEY=
DEBUG=

# Database
DB_DEV_NAME=
DB_DEV_USER=
DB_DEV_PASSWORD=
DB_DEV_HOST=
DB_DEV_PORT=

# JWT
ACCESS_TOKEN_LIFETIME= # minutes
REFRESH_TOKEN_LIFETIME= # days

# CELERY
BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_CACHE_BACKEND=

# SENTRY
SENTRY_DNS=
