#VSCode
.idea/
.vscode/
__pycache__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Database
db.sqlite3
sqlite.db
dump.rdb

# static folder
static_root
static

.DS_Store
