{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    {% if perms.chatbot.change_medicaldocumentchunk and user.is_superuser %}
    <li>
        <a href="{% url 'admin:chatbot_medicaldocumentchunk_dashboard' %}" class="historylink">
            {% trans 'Embedding Dashboard' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:chatbot_medicaldocumentchunk_vector_search' %}" class="historylink">
            {% trans 'Vector Search' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:chatbot_medicaldocumentchunk_quality_check' %}" class="historylink">
            {% trans 'Quality Check' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:chatbot_medicaldocumentchunk_reembed_manager' %}" class="historylink">
            {% trans 'Re-embedding Manager' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:chatbot_medicaldocumentchunk_upload_csv' %}" class="addlink">
            {% trans 'Upload & Embed Articles' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:chatbot_medicaldocumentchunk_embed_url' %}" class="addlink">
            {% trans 'Crawl URL & Embed' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:chatbot_medicaldocumentchunk_paste_content' %}" class="addlink">
            {% trans 'Paste Content & Embed' %}
        </a>
    </li>
    {% endif %}
{% endblock %}
