{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    {% if perms.chatbot.change_medicaldocument and user.is_superuser %}
    <li>
        <a href="{% url 'admin:chatbot_medicaldocument_dashboard' %}" class="historylink">
            {% trans 'Embedding Dashboard' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:chatbot_medicaldocument_vector_search' %}" class="historylink">
            {% trans 'Vector Search' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:chatbot_medicaldocument_quality_check' %}" class="historylink">
            {% trans 'Quality Check' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:chatbot_medicaldocument_reembed_manager' %}" class="historylink">
            {% trans 'Re-embedding Manager' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:chatbot_medicaldocument_upload_csv' %}" class="addlink">
            {% trans 'Upload & Embed Articles' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:chatbot_medicaldocument_embed_url' %}" class="addlink">
            {% trans 'Crawl URL & Embed' %}
        </a>
    </li>
    {% endif %}
{% endblock %}
